<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>corso-jweb</display-name>
  <servlet>
    <description>Servlet per la login</description>
    <servlet-name>SecurityServlet</servlet-name>
    <servlet-class>it.esempi.controller.SecurityServlet</servlet-class>
  </servlet>
    <servlet>
    <description>Servlet per la lista</description>
    <servlet-name>UserDetail</servlet-name>
    <servlet-class>it.esempi.controller.UserDetail</servlet-class>
  </servlet>
  
  <servlet>
  	<description> Servlet per la configurazione applicativa</description>
  <servlet-name>ConfigServlet</servlet-name>
  <servlet-class>it.esempi.config.ConfigServlet</servlet-class>
  <init-param>
  	<description>Parametro di inizzializzazione del driver di Mysql</description>
  	<param-name>MYSQL_DRIVER</param-name>
  	<param-value>com.mysql.jdbc.Driver</param-value>
  </init-param>

   <init-param>
  	<description>Parametro di inizzializzazione del DATABASE Mysql</description>
  	<param-name>DATABASE.URL</param-name>
  	<param-value>jdbc:mysql://localhost:3306/corso_java?useSSL=false</param-value>
  </init-param>
	<init-param>
  	<description>Parametro di inizzializzazione del DATABASE USERNAME</description>
  	<param-name>DATABASE.USERNAME</param-name>
  	<param-value>root</param-value>
  </init-param>
   <init-param>
  	<description>Parametro di inizzializzazione del DATABASE Mysql</description>
  	<param-name>DATABASE.PASSWORD</param-name>
  	<param-value>root</param-value>
  </init-param>
  
  <load-on-startup>1</load-on-startup>
  </servlet>
  
  
  
  <servlet-mapping>
    <servlet-name>SecurityServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SecurityServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
     <servlet-name>UserDetail</servlet-name>
    <url-pattern>/retrieve</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
   <servlet-name>UserDetail</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
 
  
  
  
  <welcome-file-list>
    <welcome-file>/WEB-INF/pages/login.jsp</welcome-file>
    <welcome-file>/WEB-INF/pages/register.jsp</welcome-file>
  </welcome-file-list>
</web-app>